{% extends "base.html" %}
{% block head %}
  {{ super() }}
  {% for keyword in article.keywords %}
    <meta name="keywords" contents="{{keyword}}" />
  {% endfor %}

  {% for description in article.description %}
    <meta name="description" contents="{{description}}" />
  {% endfor %}

  {% for tag in article.tags %}
    <meta name="tags" contents="{{tag}}" />
  {% endfor %}

{% endblock %}

{% block content %}
<article>
    <h2 class="post-title">{{ article.title }}</h2>
    {% import 'translations.html' as translations with context %}
    {{ translations.translations_for(article) }}

    <div class="post-pubdate">
        {{ article.locale_date }}
    </div>

    <div class="post-content">
        {{ article.content }}
    </div>
</article>
{% endblock %}
